*{
  box-sizing: border-box
}
body{
  margin: 0;
  padding: 0;
  font-family: var(--font);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
.main{
  max-width: 1400px;

}
.slider{
  margin: 40px 36px 0 36px;
  overflow: hidden;
  padding: 9px 3px;
}

@import './css/navbar.css';
@import './css/card.css';
@import './css/hero.css';
@import './index.css'